<article class="card">
        <div class = "card-header" >
            <h2>{{posts.title}}</h2>
            <span> Posted by {{user.username}} on {{format_date posts.createdAt}}</span>
        </div>
        {{#if posts.post_comment}}
            <div class="card-body">
                {{posts.post_comment}}
            </div>
        {{else}}
            
        {{/if}}
    </article>  

    <form class="card edit-form">
    {{#with posts}} 
        
     <h2 class="card-header">Edit Post</h2> 
    <div >
        <h4>Title:</h4>
      <input class="form-input" id="post-title" type="text" value ="{{title}}">
    </div>
    <div>
        <h4>Content:</h4>
      <input class= "form-input" id="post-content" type="text" value="{{post_comment}}">
    </div>
   
    <button type="submit" class="btn" id="update-btn">Update post</button>
    <button type="button" class="btn" id="delete-post-btn">Delete post</button>
     {{/with}}
  </form>
    

