<ol class="post-list">
  {{#each posts as |post| }}

    <article class="card">
        <div class = "card-header" >
            
            <a href="/add-comment/{{id}}"><h2>{{post.title}}</h2></a>
            <span> Posted by {{user.username}} on {{format_date post.createdAt}}</span>
        </div>
    <div class="card-body">
        {{post.post_comment}}
    </div>
    </article>      
  
  {{/each}}
</ol>